asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.4.0
mccabe==0.7.0
psycopg2-binary==2.9.9
pycodestyle==2.12.0
pyflakes==3.2.0
python-dotenv==1.0.1
setuptools==70.1.1
split-settings==1.0.0
sqlparse==0.5.0
typing_extensions==4.12.2
uWSGI==2.0.26
wheel==0.43.0